/* 
Global 세팅
css에서도 프로그래밍 변수를 지정하는 것처럼 할 수 있다.   
:root{}가 시작이다. 

*/
:root{
/* Color */
--color-white: #ffffff;
--color-light-white: #eeeeee;
--color-dark-white: #bdbdbd;
--color-pink: #fe918d;
--color-dark-pink: #fe918d;
--color-black: #4d4d4d;
--color-dark-gray: #4d4d4d;
--color-grey: #616161;
--color-light-grey: #7c7979;
--color-blue: #73aace;
--color-yellow: #feb546;
--color-black: #000000;


/* Font size */
--font-large: 48px;
--font-medium: 28px;
--font-regular: 18px;
--font-small: 16px;
--font-micro: 14px;


/* Font weight */
--weight-bold: 700;
--weight-semi-bold: 600;
--weight-regular: 400;

/* Size */
--size-border-radius: 4px;

/* Annimation*/
--animation-duration: 300ms;

}


/* 
Universal tags 
-> 공통적으로 적용
*/

* {
    box-sizing: border-box;
}


body {
    font-family: 'open sans';
    margin: 0;
    cursor: default;
}

a{
    text-decoration: none;/*앵커 text밑줄 없앰*/
    color: var(--color-white);
}

ul {
    list-style: none; /*ul list-style을 없앤다*/
    padding-left: 0; /*40px들어가 있는 padding을 없앤다*/
}



button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}





/* Typography를 통해 
웹사이트 전반적으로 쓰여진 패딩과 텍스트에 대해서 스타일링을 먼저 한다
*/

h1 {
    font-size: var(--font-large);
    font-weight: var(var(--weight-bold));
    color: var(--color-black);
    margin: 16px 0;
/* margin 두 개 쓰면 첫 번째 것은 위아래 두 번째 것은 양옆이다. */
}

h2{
    font-size: var(--font-regular);
    font-weight: var(var(--weight-semi-bold));
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(var(--weight-regular));
    color: var(--color-black);
    margin: 8px 0;
}


p{
    font-size: var(--font-regular);
    font-weight: var(var(--weight-regular));
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */

#navbar{ /*navbar는 id선택자이기 때문에 #을 썼다*/
    display : flex; /*박스가 양쪽에 나올 수 있도록 flex박스*/
    justify-content: space-between;  
    /*중심축에서 정렬하기 위해 justify-content이용
     space-between을 이용해서 간격이 떨어져 있게 만든다.*/
     background-color: var(--color-pink);
     align-items: center; /*박스를 수직으로 중간에 정렬해야 함
      중심은 수평적이고 수직은 반대이니까 align-item으로 센터로 만듦*/
     color: var(--color-white);
     padding: 16px;
}

.navbar__menu {
    display: flex;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);      

}


.navbar__menu__item.active {
        border: 1px solid white;
        border-radius: var(--size-border-radius);
      }

.navbar__menu__item:hover {
        background-color: var(--color-yellow);    }
    
/* Home */

#home{
    background: url("images/homebackground.png") center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home__title,
.home__description {
    color: var(--color-white);
}

.home__contact {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
     
}

/* Section common */

.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}



/* About */
.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}



.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    vertical-align: middle;
    font-size: 70px;
    margin: auto; 
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
}
/* about me 에서 line height이 안 먹힌다 */

.major__icon i {
    transition: all var(--animation-duration) ease;
}


.major__icon:hover i{
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.1)
}

.major__title, .major__description {
    color: var(--color-dark-gray);
}

.major__description {
    font-size: small;
}

.job__logo {
    width: 50px;
    height: 50px;
}

.job {
    display: flex;
    align-items: center;
}

.major__description{
    margin: 0 16px;
    text-align: center;
}

.job__name,
.job__period {
    color: var(--color-light-grey);
}

.job__name {
    font-size: var(--font-small);
}

.job__period{
    font-size: var(--font-micro);
}


/* Skill */
#skills {
    background-color: lightgoldenrodyellow;
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skillset__title {
    color: var(--color-white)
}


.skillset__left{
    flex-basis: 60%;
    background-color: var(--color-dark-gray);
    padding: 20px 40px;
}

.skill {
    margin-bottom: 32px;
}

.skill__description{
    display: flex;
    justify-content: space-between;
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value{
    width: 70%;
    height: 3px;
    background-color: var(--color-yellow);
}




.skillset__right{
    flex-basis: 40%;
}

.tools{
    background-color: var(--color-grey);
}


.tools,
.etc {
    padding: 20px;
}


/* Work */

.work__categories {
    margin: 40px;
}

.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: 4px;
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top: 0;
}

.category__count {
    background-color: var(--color-yellow);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}


.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(0px);
    transition: all var(--animation-duration)ease-in;
}

.project:hover .project__description {
    opacity: 0.8;
}

.project__description h3 {
    color: var(--color-white);
}

.project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}





